h2 {
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 3px;
  background-color: #def;
}

h4 {
  font-weight: normal;
  border: 10px solid #def;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin-top: 10px;
  padding: 0;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th {
  background-color: lightgray;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
  border: 1px solid lightgray;
  font-size: 90%;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-color: #e1e1e1;
}

table a {
  color: #215dc6;
  text-decoration: none;
}

table a:hover {
  text-decoration: underline;
}

table a:visited {
  color: #a63d21;
}

.dungeon_heading {
  margin: 0;
}

.dungeon_desc {
  display: flex;
  flex-direction: row;
}

.dungeon_desc_text {
  flex: 1 0;
}

.dungeon_desc_table {
  width: auto;
}

.dungeon_desc_table th {
  font-size: 80%;
}

.monster_normal {
  background-color: #e6e6fa;
}

.monster_weapon {
  background-color: #9999FF;
}

.monster_ghost {
  background-color: #FFFF99;
}

.monster_drain {
  background-color: #FF99CC;
}

.monster_stealing {
  background-color: #99CCFF;
}

.monster_item_change {
  background-color: #CC99FF;
}

.monster_dragon {
  background-color: #99CC00;
}

.monster_table_checkpoint {
  background-color: #ebebeb;
}
