body {
  font-family: Arial;
  margin: 5px;
}

.sidebar {
  grid-area: sidebar;
}

.sidebar-menu {
  color: #444;
  min-width: 186px;
  max-width: 186px;
  line-height: 100%;
}

.sidebar-menu a {
  color: #215dc6;
  text-decoration: none;
  font-size: 80%;
}

.sidebar-menu a:hover {
  text-decoration: underline;
}

.sidebar_menu a:visited {
  color: #a63d21;
}

.sidebar-category {
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 3px;
  color: #444;
  background-color: #c8e3ff;
}

.sidebar-sub-category {
  font-size: 80%;
}

.sidebar-links {
  padding-top: 5px;
  padding-bottom: 5px;
}

.sidebar-links-sub {
  padding-bottom: 5px;
}

.content {
  grid-area: content;
}

.header {
  grid-area: header;
  border-bottom: 1px ridge #333;
}

.header a {
  color: #215dc6;
}

.footer {
  grid-area: footer;
}

.wrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 6fr;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
  background-color: #fff;
  color: #444;
}

.box {
  padding: 10px;
  font-size: 110%;
}

@media screen and (max-width: 600px) {
  body {
    margin: 0;
  }

  .wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "sidebar"
      "content"
      "footer";
  }

  .box {
    border-radius: 0;
  }
}
