.heading {
  text-align: center;
  font-size: 1.3em;
  margin: 2em 0 0;
}

.detail {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.detail-name {
  flex: 0 0 100%;
  background-color: gray;
}

.detail-entry {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.detail-table {
  white-space: nowrap;
  width: auto;
  flex: 1 0 100%;
}

.detail-section1 {
  flex: 1 0;
}

.detail-section2 {
  flex: 0 1 100%;
}

.section2-table td {
  padding: 5px;
}

.summary_phrase {
  white-space: nowrap;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 10px;
  padding: 0;
}

table caption {
  color: white;
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th {
  background-color: lightgray;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
  border: 1px solid #ccc;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
    table-layout: fixed;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }

}
